# History files


.Rhistory
.RDataTmp
.Rapp
.history



# Example code in package build process

*-Ex.R



# RStudio files

.Rproj.user/



# produced vignettes

vignettes/*.html

vignettes/*.pdf



# old/draft
data
data/*_graveyard_data/

data/

figures/*_graveyard_figures/


# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3

.httr-oauth

Thesis_R_Codes/figures/20190629_graveyard_figures/
